
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title> VHL-Hunter | RESULTS</title>
        <meta name="description" content="VHL-Hunter is a web service for classification clinical relevance in mutatios associated a pVHL. It works with MLSMPc methodology for training and splitter by topologic information associated to protein-protein interaction sector">
        <meta name="keywords" content="VHL-Hunter, PESB2, Alvaro Olivera, David Medina, Universidad de Chile, MLSMPc, von Hippel-Lindau, preventive diagnostic">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="../css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../css/theme-aquatica.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="../js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>

		<div class="nav-container">
			<nav class="top-bar">
				<div class="container">
				</div><!--end of container-->
			</nav>
		</div>
    <div class="main-container">
      <header class="page-header">
        <div class="background-image-holder parallax-background">
          <img class="background-image" alt="Background Image" src="../resource/results/1.jpg">
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <span class="text-white alt-font">Results</span>
              <h1 class="text-white"> Results of process</h1>
              <p class="text-white lead">Results obtained in the training of models.
              </p>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </header>

      <section class="duplicatable-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="feature">
                <h5>Interaction protein-protein Sector</h5>
                <p>The use of topological information of the protein associated with the protein-protein interaction sectors allowed the generation of 13 meta-classifiers using the MLSMPc methodology, divisions that increases the performance of the classifiers.
                </p>
              </div>
            </div><!--end 4 col-->

            <div class="col-sm-4">
              <div class="feature">
                <h5>Training step</h5>
                <p>All the models were trained using the MLSMPc methodology, which includes training 1200 models for each interaction sector and selecting the most representative of the sample based on statistical techniques.
                </p>
              </div>
            </div><!--end 4 col-->

            <div class="col-sm-4">
              <div class="feature">
                <h5>Algorithms in classifiers</h5>
								<p>
								The algorithms associated with the models vary between Naive Bayes, SVM, KNN and Random Forest. All of them were trained through a training distribution associated with multiple validations with cross validation, selecting the most stable models.
                </p>
              </div>
            </div><!--end 4 col-->
          </div><!--end of row-->
        </div>
      </section>

      <section class="team-1">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1>Meta classifiers and performance distribution training</h1>
            </div>
          </div><!--end of row-->

          <div class="row space-bottom-large">

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector A</h3>
                <div id="histogramA"></div>
                <h5>Models Selected: 7</h5>
                <a href="detail.html?model=A">
                  <h6>View Details</h6>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector B</h3>
                <div id="histogramB"></div>
                <h5>Models Selected: 9</h5>
                <a href="detail.html?model=B">
                  <h6>View Details</h6>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector C</h3>
                <div id="histogramC"></div>
                <h5>Models Selected: 7</h5>
                <a href="detail.html?model=C">
                  <h6>View Details</h6>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector F</h3>
                <div id="histogramF"></div>
                <h5>Models Selected: 7</h5>
                <a href="detail.html?model=F">
                  <h6>View Details</h6>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector H</h3>
                <div id="histogramH"></div>
                <h5>Models Selected: 7</h5>
                <a href="detail.html?model=H">
                  <h6>View Details</h6>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector M</h3>
                <div id="histogramM"></div>
                <h5>Models Selected: 9</h5>
                <a href="detail.html?model=M">
                  <h6>View Details</h6>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector N</h3>
                <div id="histogramN"></div>
                <h5>Models Selected: 9</h5>
                <a href="detail.html?model=N">
                  <h6>View Details</h6>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector O</h3>
                <div id="histogramO"></div>
                <h5>Models Selected: 9</h5>
                <a href="detail.html?model=O">
                  <h6>View Details</h6>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector P</h3>
                <div id="histogramP"></div>
                <h5>Models Selected: 12</h5>
                <a href="detail.html?model=P">
                  <h6>View Details</h6>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector R</h3>
                <div id="histogramR"></div>
                <h5>Models Selected: 3</h5>
                <a href="detail.html?model=R">
                  <h6>View Details</h6>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector T</h3>
                <div id="histogramT"></div>
                <h5>Models Selected: 7</h5>
                <a href="detail.html?model=T">
                  <h6>View Details</h6>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector U</h3>
                <div id="histogramU"></div>
                <h5>Models Selected: 8</h5>
                <a href="detail.html?model=U">
                  <h6>View Details</h6>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <h3>Sector Z</h3>
                <div id="histogramZ"></div>
                <h5>Models Selected: 5</h5>
                <a href="detail.html?model=Z">
                  <h6>View Details</h6>
                </a>
            </div>

          </div><!--end of row-->

          <!--end of row-->

        </div><!--end of container-->
      </section>
    </div>
    <div class="footer-container">
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
              <span class="text-white">aolivera (at) ing (dot) uchile (dot) cl</span>
							<span class="text-white"> +56 2 2978 4189</span>
							<span class="text-white">Beauchef #851, 7th floor, West Building</span>
						</div>
					</div><!--end for row-->
				</div><!--end of container-->

				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_house"></i>
						<a href="../" class="text-white"><span class="text-white">Go Home Page <i class="icon arrow_left"></i></span></a>
					</div>
				</div>
			</footer>
		</div>

  		<script src="../js/jquery.min.js"></script>
      <script src="../js/jquery.plugin.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/jquery.flexslider-min.js"></script>
      <script src="../js/smooth-scroll.min.js"></script>
      <script src="../js/skrollr.min.js"></script>
      <script src="../js/spectragram.min.js"></script>
      <script src="../js/scrollReveal.min.js"></script>
      <script src="../js/isotope.min.js"></script>
      <script src="../js/twitterFetcher_v10_min.js"></script>
      <script src="../js/lightbox.min.js"></script>
      <script src="../js/jquery.countdown.min.js"></script>
      <script src="../js/scripts.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="../js/histogram/loadHistogramsPerformance.js"></script>
    </body>
</html>
