
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>VHL-Hunter | TRAINING</title>
        <meta name="description" content="VHL-Hunter is a web service for classification clinical relevance in mutatios associated a pVHL. It works with MLSMPc methodology for training and splitter by topologic information associated to protein-protein interaction sector">
        <meta name="keywords" content="VHL-Hunter, PESB2, Alvaro Olivera, David Medina, Universidad de Chile, MLSMPc, von Hippel-Lindau, preventive diagnostic">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="../css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../css/theme-aquatica.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="../js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>

		<div class="nav-container">
			<nav class="top-bar">
				<div class="container">
				</div><!--end of container-->
			</nav>
		</div>
    <div class="main-container">
			<header class="page-header">
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="Background Image" src="../resource/training/1.jpg">
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<span class="text-white alt-font">Supervised Learning</span>
							<h1 class="text-white">Training Classifications Models</h1>
							<p class="lead text-white">Use MLSMPc for training and selected models</p>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>

			<section class="duplicatable-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="feature">
								<h5>MLSMPc for training models</h5>
								<p>
                  Meta Learning System for Mutations Protein classificator is the methodology used for VHL-Hunter to training and selected models. MLSMPc use meta learning for increase the
                  performance and create classificators more accurate and precise.
								</p>
							</div>
						</div><!--end 4 col-->

						<div class="col-sm-4">
							<div class="feature">
                <h5>Using interaction protein-protein sector</h5>
								<p>MLSMPc needs to split the data set to create models associated with these groups. Protein-protein interaction sectors were used to achieve this. 13 meta classificator was created
                  using this methodology associated to each superfice interaction sector.
								</p>
							</div>
						</div><!--end 4 col-->

						<div class="col-sm-4">
							<div class="feature">
                <h5>Splitter Validation</h5>
								<p>To validate the partitions induced by the protein-protein interaction sectors, divisions were induced using clustering techniques, recursive clustering and random partition distributions,
                  in order to corroborate the validity of the addition of topological information.
								</p>
							</div>
						</div><!--end 4 col-->
					</div><!--end of row-->
				</div>
			</section>

      <section class="side-image clearfix">
        <div class="image-container col-md-4 col-sm-4 pull-left">
          <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="../resource/training/2.jpg">
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-4 col-sm-7 col-sm-offset-5 content clearfix">
              <h1>How to work MLSMPc</h1>
              <img class="background-image" alt="Background Image" src="../resource/training/3.png">

              <div class="row">
                <div class="col-md-4 no-pad-left">
                  <div class="feature feature-icon-left">
                    <div class="icon-holder">
                        <i class="icon icon-documents"></i>
                    </div>
                    <div class="feature-text">
                      <h6>Input data and splitter criteion</h6>
                      <p>
                        The data set includes phylogenetic and structural information, adding topological information of the protein referring to the protein-protein interaction sectors to induce the partitions. Each partition is a new dataset.
                      </p>
                    </div>
                  </div>
                </div><!--end of feature-->

                <div class="col-md-4 no-pad-left">
                  <div class="feature feature-icon-left">
                    <div class="icon-holder">
                      <i class="icon icon-briefcase"></i>
                    </div>
                    <div class="feature-text">
                      <h6>Training and selected models</h6>
                      <p>
                        Each partition represents a set of data to train. The models are trained using an exploratory phase of supervised learning algorithms. The selection of the models is generated by statistics associated with the performance obtained.
                      </p>
                    </div>
                  </div>
                </div><!--end of feature-->

                <div class="col-md-4 no-pad-left">
                  <div class="feature feature-icon-left">
                    <div class="icon-holder">
                      <i class="icon icon-genius"></i>
                    </div>
                    <div class="feature-text">
                      <h6>Meta Learning System and result classification</h6>                      
                      <p>
                        All model selected are used for implements a meta learning system. it create a probability distribution associated to result of classification and evaluated the error of result in a function of distribution of accuracy for each model.
                      </p>
                    </div>
                  </div>
                </div><!--end of feature-->

              </div><!--end of row-->
            </div>
          </div><!--end of row-->
        </div>
      </section>

		</div>
    <div class="footer-container">
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
              <span class="text-white">aolivera (at) ing (dot) uchile (dot) cl</span>
							<span class="text-white"> +56 2 2978 4189</span>
							<span class="text-white">Beauchef #851, 7th floor, West Building</span>
						</div>
					</div><!--end for row-->
				</div><!--end of container-->

				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_house"></i>
						<a href="../" class="text-white"><span class="text-white">Go Home Page <i class="icon arrow_left"></i></span></a>
					</div>
				</div>
			</footer>
		</div>

  		<script src="../js/jquery.min.js"></script>
      <script src="../js/jquery.plugin.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/jquery.flexslider-min.js"></script>
      <script src="../js/smooth-scroll.min.js"></script>
      <script src="../js/skrollr.min.js"></script>
      <script src="../js/spectragram.min.js"></script>
      <script src="../js/scrollReveal.min.js"></script>
      <script src="../js/isotope.min.js"></script>
      <script src="../js/twitterFetcher_v10_min.js"></script>
      <script src="../js/lightbox.min.js"></script>
      <script src="../js/jquery.countdown.min.js"></script>
      <script src="../js/scripts.js"></script>
    </body>
</html>
